# Dependencies
node_modules/

# Build output
dist/
out/

# OS files
.DS_Store
Thumbs.db
Desktop.ini

# Editor
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.*

# Lockfiles
package-lock.json
npm-debug.log*
yarn.lock
pnpm-lock.yaml

